* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', 'Open Sans', sans-serif;
}
.wrapper {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
body {
    background-color: #fff;
    margin: 30px;
}
header {
    background-color: rgb(245, 245, 244);
    padding: 30px;
    margin: 50px 0;
}
h1, h2 {
    margin-bottom: 30px;
}
h1 {
    text-align: center;
    color: #333;
    background-color: rgb(245, 245, 244);
    padding: 20px;
}
h3 {
    color: #537d7b;
    
}

label {
    margin-top: 30px;
    display: block;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 2px;
}

input, textarea {
    width: 90%;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #cdcfcf;
    margin-top: 5px;
    padding: 10px;
    color: #333;
    background-color: #f6f8f8;
}

button {
    background: #537d7b;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    padding: 15px 30px;
    cursor: pointer;
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15px;
}
button:active {
    color: #537d7b;
    background-color: white;
}
ul {
    padding-left: 0;
    list-style-type: none;
}

main {
    display: flex;
    height: 100vh;
}
.firstSection {
    width: 50%;
    margin-right: 3%;
}
.review {
    padding-bottom: 15px;
}

.review, 
.flashMessageStyle{
    display: none;
}

.flashMessageStyle{
    padding: 10px;
    background: #537d7b;
    border-radius: 5px;
    color: white;
}
/* /////////////// */
footer {
    background-color: rgb(245, 245, 244);
    padding: 40px;
    margin-top: 30px;
    text-align: center;
}
.socialMedia ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 23px;
}
.socialMedia ul li {
    width: 50px;
    height: 50px;
    background-color: black;
    text-align: center;
    padding-top:15px;
    padding-left:15px ;
    border-radius: 5px;
    margin-right: 20px;
    transition: 0.5s;
}
footer h2 {
    display: inline-block;
    font-size: 30px;
    border-bottom: 2px solid rgb(240, 11, 11);
}
.socialMedia ul a {
    padding: 20px;
    text-decoration: none;
    padding-left:0 ;
    color: rgb(240, 11, 11);
    transition: 0.5s;
}
.socialMedia ul li:hover {
    background-color: transparent;
    border: outset black;
}
.socialMedia ul a:hover {
    color:orangered;
    font-size: 25px;
}
/* /////////////////////////////////////////////////////// */
/* Media Queries
/* /////////////////////////////////////////////////////// */

@media(max-width: 1024px) {
    main {
        flex-direction: column;
        justify-content: center;
    }
    .firstSection {
        width: 100%;
        margin-bottom: 50px;
    }
}