* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', 'Open Sans', sans-serif;
}
.wrapper {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
body {
    background-color: #fff;
    margin: 30px;
}
header {
    padding-top: 40px;
}
h1, h2 {
    margin-bottom: 30px;
}
h1 {
    text-align: center;
    color: #333;
    background-color: rgb(245, 245, 244);
    padding: 20px;
}
h3 {
    color: #537d7b;
    
}

label {
    margin-top: 30px;
    display: block;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 2px;
}

input, textarea {
    width: 90%;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #cdcfcf;
    margin-top: 5px;
    padding: 10px;
    color: #333;
    background-color: #f6f8f8;
}

#userReviewInput {
    height: 100px;
}

button {
    background: #537d7b;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    padding: 15px 30px;
    cursor: pointer;
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15px;
}
button:active {
    color: #537d7b;
    background-color: white;
}
ul {
    padding-left: 0;
    list-style-type: none;
}

main {
    display: flex;
}
.firstSection {
    width: 50%;
    margin-right: 3%;
}
.review {
    padding-bottom: 15px;
}

.review, #flashMessage {
    display: none;
}

#flashMessage {
    padding: 10px;
    background: #537d7b;
    border-radius: 5px;
    color: white;
}
/* /////////////////////////////////////////////////////// */
/* Media Queries
/* /////////////////////////////////////////////////////// */

@media(max-width: 1024px) {
    main {
        flex-direction: column;
        justify-content: center;
    }
    .firstSection {
        width: 100%;
        margin-bottom: 50px;
    }
}